{% load static %}

<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Nepal Tandukar Samaj | 
    {%block title %}
    
    {% endblock %}
  </title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/app.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/bundles/summernote/summernote-bs4.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/bundles/codemirror/lib/codemirror.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/bundles/codemirror/theme/duotone-dark.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/bundles/jquery-selectric/selectric.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/bundles/chocolat/dist/css/chocolat.css' %}">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/components.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'app/assets/img/tandukar-samaj-logo.png' %}" />

  
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          
          
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="{% static 'dashboard/assets/img/user.png' %}"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">Hello {{request.user.username}}</div>
              
              <div class="dropdown-divider"></div>
              <a href="{% url 'dashboard:logout' %}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{% url 'dashboard:index' %}"> 
              <img src="{% static 'app/assets/img/tandukar_logo.png' %}" style="height:100%; width:100%;">
               {% comment %} <span
                class="logo-name text-danger ">नेपाल तण्डुकार </span> {% endcomment %}
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
              <a href="{% url 'dashboard:index' %}" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>
            
           
            <li class="menu-header">Pages</li>

            <li class="">
              <a href="{% url 'dashboard:notification' %}" class="nav-link"><i data-feather="command"></i><span>Notification</span></a>
            </li>


            <li class="">
              <a href="{% url 'dashboard:news' %}" class="nav-link"><i data-feather="command"></i><span>News</span></a>
            </li>

            <li class="dropdown">
              <a href="{% url 'dashboard:events' %}"  class="nav-link"><i data-feather="command"></i><span>Events</span></a>
            </li>

            <li class="dropdown">
              <a href="{% url 'dashboard:press' %}"  class="nav-link"><i data-feather="command"></i><span>Press</span></a>
            </li>

            <li class="dropdown">
              <a href="{% url 'dashboard:executivemember' %}"  class="nav-link"><i data-feather="command"></i><span>Executive Member</span></a>
            </li>

            <li class="dropdown">
              <a href="{% url 'dashboard:manifesto' %}"  class="nav-link"><i data-feather="command"></i><span>Manifesto</span></a>
            </li>


            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown">
                <i data-feather="command"></i>
                <span>Ordinary Member</span>
              </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'dashboard:verifi_member' %}">Verified Member</a></li>
                    <li><a href="{% url 'dashboard:ordinary_member_unverifed' %}">Unverified Member</a></li>
                  </ul>
            </li>
           

            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown">
                <i data-feather="command"></i>
                <span>About Us</span>
              </a>
                  <ul class="dropdown-menu">
                    {% for item in aboutctg %}
                          <li><a class="dropdown-item" href="{% url  'dashboard:about' item.about_slug %}">{{ item.title }}</a></li>
                    {% endfor %}
                  </ul>
            </li>


           
            <li class="menu-header">Branch</li>
            <li class="dropdown">
              <a href="{% url 'dashboard:branchlist' %}"  class="nav-link"><i data-feather="home"></i><span><span>Add Branch</span></a>
            </li>



            <li class="menu-header">Media</li>
            <li class="dropdown">
              <a href="{% url 'dashboard:gallery' %}"  class="nav-link"><i data-feather="image"></i><span><span>Gallery</span></a>
            </li>
            <li class="dropdown">
              <a href="{% url 'dashboard:bannar_image' %}"  class="nav-link"><i data-feather="flag"></i><span><span>Bannar Image</span></a>
            </li>

            <li class="dropdown">
              <a href="{% url 'dashboard:videogallery' %}"  class="nav-link"><i data-feather="play"></i><span><span>Video Gallery</span></a>
            </li>

            

            <li class="menu-header"> Information</li>
            <li class="dropdown">
              <a href="{% url 'dashboard:general_info' %}"  class="nav-link"><i data-feather="book"></i><span><span>General Information</span></a>
            </li>
            <li class="dropdown">
              <a href="{% url 'dashboard:bankdetails' %}"  class="nav-link"><i data-feather="home"></i><span><span>Bank Details</span></a>
            </li>
            

            {% comment %} <li class="menu-header">Website settings</li> {% endcomment %}
            
           

            {% comment %} <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown">
                <i class="fa fa-cog"></i>
                <span>Settings</span>
              </a>
                  <ul class="dropdown-menu">
                    <li><a href="">Keywords</a></li>
                    <li><a href="">Discription</a></li>
                    <li><a href="">Auth</a></li>
                  </ul>
            </li> {% endcomment %}
           
          </ul>
        </aside>
      </div>
      {% block content %}

      {% endblock %}
      <footer class="main-footer">
        <div class="footer-left">
          <a href="">Kitwosd</a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>

   <!-- General JS Scripts -->
   <script src="{% static 'dashboard/assets/js/app.min.js' %}"></script>
   <!-- JS Libraies -->
   <script src="{% static 'dashboard/assets/bundles/summernote/summernote-bs4.js' %}"></script>
   <script src="{% static 'dashboard/assets/bundles/codemirror/lib/codemirror.js' %}"></script>
   <script src="{% static 'dashboard/assets/bundles/codemirror/mode/javascript/javascript.js' %}"></script>
   <script src="{% static 'dashboard/assets/bundles/jquery-selectric/jquery.selectric.min.js' %}"></script>
   <script src="{% static 'dashboard/assets/bundles/ckeditor/ckeditor.js' %}"></script>
   <!-- Page Specific JS File -->
   <script src="{% static 'dashboard/assets/js/page/ckeditor.js' %}"></script>
   <script src="{% static 'dashboard/assets/js/page/gallery1.js' %}"></script>
   <!-- Template JS File -->
   <script src="{% static 'dashboard/assets/js/scripts.js' %}"></script>
   <!-- Custom JS File -->
   <script src="{% static 'dashboard/assets/js/custom.js' %}"></script>
 
   <!-- JS Libraies -->
   <script src="{%static 'dashboard/assets/bundles/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>

  
</body>



<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>