{% extends 'app/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
About
{% endblock %}

{% block content %}
<!-- about section -->
<!-- about bannar section-->
<div class="container-fluid" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfchT14iOuGcwIK6OLfScqcXmSe7G5wLONRw&usqp=CAU');">
	<div class="container">
		<div class="p-5"></div>
	</div>
</div>
<!-- end bannar section -->


<!--about detail section start-->
<div class="container">
	<div class="row">
		<h2 style="font-weight: ;" class=" text-center p-5 text-primary">About NTS</h2>
		<p class="pb-5">
			नेपाली जनतामा निहीत राष्ट्रिय सार्वभौमिकतालाई आत्मसात् गर्दै, नेपालको राष्ट्रिय हितलाई सर्वोपरि मानी जनउत्तरदायी, जनसहभागितामूलक लोकतान्त्रिक राज्य शासन व्यवस्था प्रवर्द्धन गर्दै नेपालको संविधानले परिकल्पना गरेअनुसार दिगो शान्ति, सुशासन, विकास र समृद्धिको आकांक्षा पूरा गरी नेपाली जनताले महसुस गर्ने गरी जीवनस्तरमा सुधार ल्याउने प्रतिबद्धतासहित राष्ट्रिय स्वतन्त्र पार्टीको गठन गरी, असार ०७, २०७९ मा सार्वजनिक घोषणा गरेसँगै, असार १७, २०७९ मा राष्ट्रिय स्वतन्त्र पार्टी निर्वाचन आयोगमा दर्ता भएको हो ।
		</p>
	</div>
</div>
<!-- end about section-->

<!-- end about section -->






{% endblock %}