{% extends 'app/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
Ordinary Members
{% endblock %}
{% block content %}
<!-- about bannar section-->
<div class="container-fluid" style="background-image:url('{{bannar_image.image.url}}'); width:100%">
	<div class="container">
		<div class="p-5"></div>
	</div>
</div>
<!-- end bannar section -->


<!--about detail section start-->
<div class="container">
	<div class="row">
		<h2 style="font-weight: ;" class=" text-center pt-5 text-primary">Ordinary Members</h2>
		<b class="text-center p-2">Nepal Tandukar Socity has the following Ordinary Members.</b>
		
	</div>

	<!-- member section start -->
	<div class="row pt-5">
        {% for member in ordinary_member %}
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 text-center">
                <img class="img-fluid rounded-circle" src="{{member.image.url}}" style="height:150px; width: 150px;  object-fit: cover; " >
                <br>
                <b class="p-4">{{member.fullname}}</b>
                <p>
                    
                +977-{{member.phone_number}}</p>
        </div>
        {% endfor %}
		

	</div>
	<!-- end member section-->


</div>





{% endblock %}