{% extends 'app/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
Vission
{% endblock %}

{% block content %}
<!-- vission bannar section-->
<div class="container-fluid" style="background-image:url('{{bannar_image.image.url}}'); width:100%">
	<div class="container">
		<div class="p-5"></div>
	</div>
</div>
<!-- end bannar section -->


<!--vission detail section start-->
<div class="container">
	<div class="row">
		<h2 style="font-weight: ;" class=" text-center pt-5 text-primary">Vission and Mission</h2>
		<p class="p-5">
			<br>
			<b>	१. भ्रष्टाचारशून्य देश</b>
			<br>
			<br>
			राज्यका सम्पूर्ण भ्रष्टाचारविरूद्धका निकायलाई सक्रिय बनाइने छ । ती निकायमा वर्षौंदेखि धुलो लागेर यसै बसेका फाइलहरु उठाइनेछ, धुलो टकटक्याइनेछ । हालसम्म सार्वजनिक निकाय वा पदमा बसेर अकुत सम्पत्ति कमाएकाहरुको सम्पत्ति छानबिन गरिने छ । फास्ट ट्रयाक विधिबाट भ्रष्टाचारीलाई तत्काल कारबाही गरी कडाभन्दा कडा सजाय दिइने छ । यस्तै विदेशमा रहेका भ्रष्टाचारीका नातागोतालाई समेत छानबिन र कारबाहीको दायरामा ल्याइने छ ।

 					<br>
 					<br>

					<b>२. सुशासन र झन्झटरहित सार्वजनिक सेवा</b>
					<br>
					 <br>

					निजी क्षेत्रका स्थापित कम्पनीसँग प्रतिस्पर्धा गर्न सक्ने गरी कर्मचारीतन्त्रमा व्यापक सुधार गरी सुशासनका नयाँ मापदण्ड शीघ्रातिशीघ्र सुरू गरिने छ । आवश्यक तालिमपश्चात् ‘हायर एन्ड फायर’ प्रणाली लागू गरिने छ । प्रमोसनको मात्र होइन, डिमोसनको पनि व्यवस्था हुनेछ । सार्वजनिक कार्यालयहरुमा डिजिटललगायत आधुनिक प्रणाली लागू गरिने छ । दरबन्दी र पदपूर्तिका समस्या हल गरिने छ । प्रत्येक सार्वजनिक सेवामा सेवाग्राही (नागरिक) ले तोकिएका समयभित्र सेवा पाउने व्यवस्था मिलाइने छ । यदि त्यसो हुन नसके सम्बन्धित कर्मचारी र कार्यालय प्रमुखलाई तत्काल कारबाही गरिने छ । भद्दा शासकीय व्यवस्थामा व्यापक सुधार गरिने छ ।
					<br>
					 <br>

					<b>३. सही ठाउँमा सही मान्छे, योग्यता र क्षमतालाई आधार, कर्मशीलतामा जोड</b>
					<br>
					<br>

					प्रवर्धन ‘सही ठाउँमा सही मान्छे’ भन्ने सिद्धान्तलाई अवलम्बन गर्दै राज्यका प्रत्येक निकायमा कर्मचारी तथा पदाधिकारी नियुक्त गर्दा प्रतिस्पर्धात्मक प्रणालीबाट योग्यता र क्षमताका आधारमा गरिने छ । नेपालको सम्मुन्नतिका लागि देश–विदेशमा रहेका नेपालीहरुको दक्षता, ज्ञान र सीपलाई अधिकतम उपयोगमा ल्याइने छ । लोक सेवा आयोगलाई आधुनिकीकरण गरी सुधार गरिने छ । नातावाद, कृपावाद, आशीर्वाद र परिवारवादलाई निषेध गरी कर्मशील समाजको प्रवर्धनमा विशेष जोड दिइने छ । स्वार्थको द्वन्द्व (Conflict of interest) का कारणले नियुक्तिमा हुन सक्ने प्रभावलाई रोक्न छुट्टै आयोग गठन गरिने छ । सार्वजनिक उजुरीका लागि आव्हान गरी स्वार्थका द्वन्द्व देखिए छनोटकर्ता परिवर्तन गरिने छ । सहीलाई पुरस्कृत र गलतलाई दण्डित गरिने चुस्त प्रणाली तुरून्तै अवलम्बन गरिने छ ।
					<br>
					<br>

					 

					<b>४. प्रत्यक्ष सहभागितामूलक लोकतन्त्रको प्रवर्धन र विश्वभरमा रहेका नेपालीका लागि मताधिकारको व्यवस्था</b>
					<br>
					<br>
					राज्यको शासन व्यवस्थामा अस्वीकार गर्ने अधिकार (Right to reject), जनप्रतिनिधिलाई फिर्ता बोलाउने अधिकार (Right to Recall), डिजिटल लोकतन्त्र (Digital Democracy ) प्रारम्भिक निर्वाचन प्रणालीलगायत जनताको प्रत्यक्ष सहभागितामूलक व्यवस्था लागू गरी प्रत्यक्ष सहभागितामूलक लोकतन्त्रको प्रवर्धन गरिने छ । 
					<br>
					<br>

					विश्वका जुनसकै कुनामा रहेका नेपालीले राज्यका कुनै पनि तहका निर्वाचनमा मतदान गर्न पाउने व्यवस्था मिलाइने छ । एकपटकको नेपालीलाई सधैंका नेपाली मानिनेछ ।
					<br>
					<br>

					 

					<b>५. जनगुनासा र सुनुवाइ</b>
						<br>
					<br>

					सार्वजनिक सेवालगायत जनतालाई परेका कुनै पनि प्रकारका समस्या सुन्न चुस्त संयन्त्रको विकास गरिने छ । यथाशीघ्र त्यस्ता गुनासाको सुनुवाइ गरी जनताका समस्या तत्काल समाधान गरिने छ । वैदेशिक रोजगारीमा गएका नेपालीका गुनासा र समस्या सुनवाइ तथा समाधानका लागि द्रुत प्रक्रिया टोली (Rapid Response Team) सहितको अलग संयन्त्र स्थापना गरिने छ । कुनै पनि बाध्यता र बाटोबाट विदेश पुगेका नेपाली नागरिकका परिवारको सामाजिक र आर्थिक सुरक्षाका लागि अत्यन्त प्रभावकारी कार्यक्रम ल्याइने छ ।
					<br>
					<br>

					 

					<b>६. लोककल्याणकारी राज्य</b>
					<br>
					<br>

					सरकारले आफ्ना नागरिकको आर्थिक र सामाजिक कल्याणको संरक्षण र प्रवद्र्धन गर्नेछ । शिक्षा, स्वास्थ्य, कृषिजस्ता नागरिकलाई प्रत्यक्ष सरोकार राख्ने क्षेत्र राज्यको प्राथमिकता हुनेछ ।
					<br>
					<br>

					 

					<b>७. सीमा सुरक्षा</b>
					<br>
					<br>

					नक्सामा अंकित गरिएको नेपाली भूमिलाई फिर्ता लिने प्रक्रिया सुरू गरिने छ । यसका लागि कूटनीतिक पहल गरिने छ । आवश्यक परेको खण्डमा अन्तर्राष्ट्रिय मञ्चको आवश्यक सहयोग लिई आवाज उठाइनेछ ।
					<br>
					<br>

					यति मात्रै होइन, हाम्रा भत्किएका सीमास्तम्भहरुलाई अझ मजबुत बनाइने छ । स्तम्भ हराएका ठाउँमा पुनः सीमास्तम्भ गाडिनेछ । ऐतिहासिक दस्तावेजमा उल्लेख भएअनुरुपका नेपाली भूभागको जमिन एक इन्च पनि छोडिने छैन । सीमावर्ती क्षेत्रका नेपालीको जीउधनको सुरक्षा हाम्रो अनिवार्य जिम्मेवारी हुनेछ । सशस्त्र प्रहरी बललाई सीमा सुरक्षा बलमा परिणत गरी सीमा सुरक्षाको मात्र जिम्मेवारी दिइने छ ।
					<br>
					<br>
					 

					<b>८. अपराध नियत्रण तथा नागरिक सुरक्षा</b>
					<br>
					<br>

					कानुनका छिद्रबाट जन्मेका र राजनीतिक संरक्षणबाट मौलाएका गुन्डागर्दी, आपराधिक समूह, मानव बेचबिखन, लागूऔषध ओसारपसारमा संलग्न समूहलाई नियन्त्रणमा लिई अमनचयन कायम राख्न उच्चस्तरीय सतर्कताका साथ कानुनको पालना गर्ने गराइने छ । महिला, बालबालिका, वृद्धलगायत सबै नेपाली नेपालका कुनै पनि ठाउँमा कुनै पनि समय निर्धक्क भएर हिडँडुल गर्न सक्ने गरी शान्ति सुरक्षाको व्यवस्था मिलाइने छ । सार्वजनिक स्थान तथा सुरक्षा जोखिम स्थलहरुमा सीसीटीभीको व्यवस्था गर्दै सुरक्षा निगरानी बढाइने छ । 
					<br>
					<br>

					अपराध नियन्त्रण गर्न नसक्ने प्रहरी अधिकारीहरुको ग्रेडिङ दोब्बर अंकले घटाइनेछ । इमानदार प्रहरीहरुको पहिचान गरी प्रोत्साहित गर्न विशेष संयन्त्र खडा गरिने छ । प्रहरीका उच्च अधिकारीले कार्यालयमा, ड्युटीमा र युनिफर्ममा बाहेक कुनै दलका नेता र व्यापारी व्यवसायीलाई झुक्किएर वा संयोगले भेटे पनि स्पष्टीकरण सोधिनेछ ।<br>
					<br>

					 

					<b>	९. आत्मनिर्भर नेपाल र निर्यातमूलक अर्थतन्त्रको विकास</b>
					<br>
					<br>

					आधारभूत आवश्यकताका वस्तु र सेवामा राष्ट्रलाई आत्मनिर्भर बनाइने छ । आयातलाई प्रतिस्थापन गरी निर्यातलाई प्रवद्र्धन गरिने छ । निर्यातमूलक अर्थतन्त्र विकासका लागि उद्यममैत्री सरकार बनाइने छ । व्यवसायीलाई प्रात्साहन गर्न व्यवसाय गर्ने वातावरणमा सुधार ल्याइने छ । स्वदेशी उत्पादन वृद्धिका लागि ऊर्जा खपत बढाइने छ, जसका लागि निःशुल्क वा सशुल्क ऊर्जा उपलब्ध गराइने छ । 
					<br>
					<br>
					बैंकिङ प्रणालीमा सुधार ल्याउने नीति अवलम्बन गरी ऋण प्रवाहमा सुधार तथा राष्ट्रिय उत्पादनमा वृद्धि गरिने छ । उद्योग, व्यापार गर्न चाहने व्यक्तिले एउटाबाहेक दोस्रा कार्यालयमा पाइला राख्नुपर्ने छैन । एक केन्द्र (One Stop Centre) को अवधारणा ल्याई झन्झटमुक्त वातावरण बनाइने छ । 
					<br>
					<br>
					उद्योगी, व्यापारीका लगानीको सुरक्षा र सम्मान हाम्रो प्राथमिकता हुनेछ । मौलिक उद्योग र उत्पादनका लागि विशेष सेवा इकाइ राखिने छ । डिजिटल करेन्सीको सम्भाव्यता र विश्वभरको प्रभावकारितालाई मध्यनजर राखी नेपालले तुरून्तै आफ्नो नीति बनाउनेछ । कानुनी रमिट्यान्सलाई प्रोत्साहित गरिने छ । विदेशबाट रमिट्यान्स पठाउँदा क्यास ब्याकको व्यवस्था गरिने छ ।
					<br>
					<br>

					सार्वजनिक, निजी साझेदारीको अवधारणामा संघीय, प्रादेशिक र पालिकास्तरका विकास योजनाहरु सञ्चालन गरिने छ । सहकारी क्षेत्रका बेथितिलाई अन्त्य गरी मध्यम आय भएका नेपालीहरुलाई सामूहिक रुपमा सहकारीको मूल्यमान्यता कायम राखी व्यवसाय गर्ने वातावरण बनाइने छ ।
					<br>
					<br>

					 
					<b>	१०. स्वदेशमै रोजगारी, उद्यमशीलता प्रवर्धन र वैदेशिक राजगारीको व्यवस्थापन</b>
					<br>
					<br>

					स्वदेशमा नै रोजगारीको अवसर सिर्जना गरी राष्ट्रिय उत्पादन अभिवृद्धिमा जोड दिइने छ । स्वदेशमा पर्याप्त मात्रामा रोजगारी सिर्जना हुन नसकुन्जेल वैदेशिक राजगारीलाई सुरक्षित र मर्यादित बनाइने छ । उद्यममैत्री सरकार र उद्यममैत्री बैकिङ प्रणाली स्थापना गरिने छ । विदेशमा सीप र ज्ञान हासिल गरेका नेपालीलाई उचित अवसरको सिर्जना गरी राष्ट्रिय उत्पादन तथा विकासमा समेत योगदान पुर्याउन ‘घर फर्क’ अभियान सञ्चालन गरिने छ ।
					<br> 

					गैरआवासीय नेपालीहरुको सहभागिता र लगानीमा बन्द भएका सबै उद्योग खोल्न विशेष कार्ययोजना ल्याइने छ । अन्य उद्योगमा लगानी गर्न गैरआवासीय नेपालीलाई सहज वातावरण मिलाइने छ । विदेशबाट फर्केका नेपालीलाई नेपालमै श्रम गर्न सहज कजा प्रणाली र अन्य आवश्यक व्यवस्था गरिने छ ।

					 

		</p>
	</div>
</div>
<!-- end vission section-->


{% endblock %}